table {
  border-collapse: collapse;
  border-width: 5px;
}
table td, table th {
  border: 2px solid black;
}
table tr:first-child td {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child{
  border-left: 0;
}
table tr td:last-child{
  border-right: 0;
}
td{
	width: 150px;
	height: 150px;
}
table td:hover {
	border: 2px double yellow !important;
}
